<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ftp.client">

    <!--akses penuh Internet.-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--lihat status jaringan.-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--lihat status Wi-Fi.-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!--ganti konektivitas jaringan.-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <!--sambung dan putuskan Wi-Fi-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!--baca konten kartu SD Anda-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--mengubah atau menghapus konten kartu SD Anda-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--FOREGROUND_SERVICE-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
        
    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:resizeableActivity="false">

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".application.AuthActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".application.WebListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".application.RemoteWebActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".application.WebEditActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".application.ProfileActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        
        <service android:name=".service.RemoteService"
            android:label="@string/accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":service">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>
        
        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>

    </application>

</manifest>
